<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

<div class="row">
    <div class="col-md-5">
        <app-rezeptliste
        (rezepteWasSelected)="selectedRezepte=$event"></app-rezeptliste>

    </div>
    <div class="col-md-7">
        <app-rezeptdetails 
        *ngIf="selectedRezepte;else infoText"
        [rezepte]="selectedRezepte"
></app-rezeptdetails>
        <ng-template #infoText>
            <p>Bitte eine Rezept aussuchen</p>
        </ng-template>

    </div>
</div>
