<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">Neues Rezept</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
  
        <app-rezeptitem 
        *ngFor="let rezepte of rezepte"
        [rezepte]="rezepte"
        (rezeptSelected)="onRezeptSelected(rezepte)">
    </app-rezeptitem>
    </div>
</div>

<!-- <a href="" class="list-group-item clearfix" *ngFor="let rezepte of rezepte">
    <div class="pull-left">
        <h4 class="list-group-item-heading">{{rezepte.name}}</h4>
        <p class="list-group-item-text">Beschreibung</p>
    </div>
    <span class="pull-right">
        <img src="{{rezepte.imagePath}}" alt="{{rezepte.name}}" class="img-responsive" style="max-height:70px; float:right;">
    </span>
</a> -->
